fastapi>=0.115,<0.116
uvicorn[standard]>=0.34,<0.35
pydantic>=2.10,<3
python-dotenv>=1.0,<2
httpx>=0.28,<0.29
pytz>=2024.2

langchain-core>=0.3.29,<0.4
langgraph>=0.2.62,<0.3
langchain-groq>=0.2.3,<0.3
langchain-google-genai>=2.0.7,<3
langchain-openai>=0.2.14,<0.3
langchain-tavily>=0.2.10,<=0.2.17
